#main{
    width: 100%;
    padding: 10%;
}

#card{
    width: 70%;
    margin: auto;
    padding: 2%;
    background-color: white;
    border-radius: 8px;
}

h2{
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 30px;
}

#submit{
    padding: 1%;
    background-color:#deaf39;
    font-family: "Bebas Neue";
}

label{
    font-family: 'Courier New', Courier, monospace;
}

.form-input{
    border-radius: 5px;
    width: 85%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    border: solid #001c69;
    margin-left: 7%;
}