#row{
    width: 100%;
    font-family: "Bebas Neue";
    padding: 2%;
    color: #deaf39;
    background-color: #001c69;
    font-size: 30px;
    margin-bottom: 3%;
}

label{
    font-family: "Bebas Neue";
    font-size: 25px;
    color: black;
    text-align: right;
}
img{
    width: 100%;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
    display: inline;
    margin-left: 1%;
}

#content{
    width: 100%;
    padding: 3%;
    background-color: white;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}
#subrow{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#left{
    width: 48%;
    padding: 2%;
    float: left;
}

#right{
    width: 48%;
    padding: 2%;
    float: right;
}

#header{
    width: 100%;
    font-family: "Bebas Neue";
    padding: 1%;
    color: #deaf39;
    background-color: #001c69;
    font-size: 30px;
}

.btn{
    width: 10%;
    float: left;
    padding: 1%;
    background-color: #deaf39;
    color: white;
    margin-right: 2%;

}