.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#footer-main-wrapper{
    width: 100%;
    background-color:#deaf39;
}

#footer-row{
    width: 100%;
    padding: 3%;
}

#footer-imc-logo{
    width: 50%;
}

#fcol{
    width: 25%;
    float: left;
    margin-right: 8%;
}

#subheader{
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 1%;
}

#label{
    font-size: 12px;
    font-weight: bold;
}

#fcontent{
    margin-bottom: 2%;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

@media screen and (min-width:750px){
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #footer-main-wrapper{
        width: 100%;
        background-color:#deaf39;
    }
    
    #footer-row{
        width: 100%;
        padding: 3%;
    }
    
    #footer-imc-logo{
        width: 15%;
    }
    
    #col{
        width: 25%;
        float: left;
        margin-right: 8%;
    }
    
    #subheader{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 1%;
    }
    
    #label{
        font-size: 17px;
        font-weight: bold;
    }
    
    #fcontent{
        margin-bottom: 2%;
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    

}