
#form{
    width: 80%;
    padding: 2%;
    margin: auto;
    background-color: white;
    box-shadow: 5px 10px;
    box-shadow: 5px 10px #001c69;
    margin-bottom: 2%;
}

#header{
    width: 100%;
    font-family: "Bebas Neue";
    color: #001c69;
    font-size: 30px;
}

#content{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#left{
    width: 20%;
    float: left;
    font-family: "Bebas Neue";
    font-size: 20px;
}
#ref{
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
}
#right{
    width: 80%;
    float: right;
}
#row{
    width: 100%;
    margin-bottom: 2%;
}

.btn{
    padding: 1%;
    color: white;
    background-color: #001c69;
    font-family: "Bebas Neue";
}

@media screen and (min-width:750px){
    #form{
        width: 60%;
        padding: 2%;
        margin: auto;
        background-color: white;
        box-shadow: 5px 10px;
        box-shadow: 5px 10px #001c69;
        margin-bottom: 2%;
    }
    
    #header{
        width: 100%;
        font-family: "Bebas Neue";
        color: #001c69;
        font-size: 30px;
    }
    
    #content{
        width: 100%;
    }
    
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
    
    #left{
        width: 20%;
        float: left;
        font-family: "Bebas Neue";
        font-size: 20px;
    }
    #ref{
        width: 60%;
        font-family: 'Courier New', Courier, monospace;
    }
    #right{
        width: 80%;
        float: right;
    }
    #row{
        width: 100%;
        margin-bottom: 2%;
    }
    
    .btn{
        padding: 1%;
        color: white;
        background-color: #001c69;
        font-family: "Bebas Neue";
    }

}
