h1{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 57px;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 1%;
}

#row{
    width: 100%;
    background-color: #001c69;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.clearfix h2{
    font-family: "Bebas Neue";
    color:white;
    font-size: 40px;

}
.clearfix p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    text-align: justify;
}
#left{
    width: 100%;
    padding: 10%;
    padding-left: 8%;
    float:none;
}

.more-btn{
    background-color: #deaf39;
    padding: 2%;
    color: white;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 7px;
    transition: 0.5s;
}

.more-btn:hover{
    width: 55%;
    color: #001c69;
}

#right{
    width: 100%;

    padding: 5%;
    float: none;
}
#row-2{
    margin-top: 2%;
    width: 100%;
    color: #deaf39;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (min-width:750px){
    h1{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 57px;
        font-weight: bolder;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 1%;
    }
    
    #row{
        width: 100%;
        background-color: #001c69;
    }
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
    .clearfix h2{
        font-family: "Bebas Neue";
        color:white;
        font-size: 40px;
    
    }
    .clearfix p{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 20px;
        text-align: justify;
    }
    #left{
        width: 50%;
        padding: 10%;
        padding-left: 8%;
        float:left;
    }
    
    .more-btn{
        background-color: #deaf39;
        padding: 2%;
        color: white;
        width: 30%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        border-radius: 7px;
        transition: 0.5s;
    }
    
    .more-btn:hover{
        width: 35%;
        color: #001c69;
    }
    
    #right{
        width: 50%;
    
        padding: 5%;
        float: right;
    }
    #row-2{
        margin-top: 2%;
        width: 100%;
        color: #deaf39;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    

}
