h1{
  font-family: "Bebas Neue";
  color: #deaf39;
}

#form{
  margin: auto;
  padding: 2%;
  width: 80%;
}

#table{
  background-color: #001c69;
  padding: 2%;
}

#table-hdr-wrapper{
  width: 100%;
  padding: 1%;
  border-bottom: solid #deaf39;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

#table-hdr{
  float: left;
  font-family: "Bebas Neue";
  color: #deaf39;
  font-size: 20px;
  width: 10%;
}

#content-row{
  width: 100%;
  background-color: white;
  padding: 1%;
}

#content{
  float: left;
  font-family: 'Courier New', Courier, monospace;
  color: #001c69;
}

.btn{
  width: 40%;
  background-color: #001c69;
  color: white;
  padding: 1%;
}

#table-cntnt{
  width: 100%;
  overflow: auto;
}