{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #main{
        background-image: url("{%static 'images/road.png'%}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 5%;
        height:100vh;
    }

</style>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reserved_notconfirmed.css' %}">

<div id="main">
    <div id="form">
      <h1>Reservations</h1>
      <div id="table">
        <div id="table-hdr-wrapper" class="clearfix">
          <div id="table-hdr" style="width: 15%;">
            Payment
        </div>
          <div id="table-hdr" style="width: 35%;">
              id
          </div>
          <div id="table-hdr" style="width: 20%;">
              Created
          </div>
        </div>
        {%for r in reservations%}
          {% if r.active == True%}
            <div id="table-cntnt">
              <div id="content-row"  class="clearfix">
                {% if r.payment_status == "PENDING" %}
                  <div id="content" style="width: 15%; color:#deaf39;">
                    {{r.payment_status}}
                  </div>
                {%else%}
                  <div id="content" style="width: 15%; color: green;">
                    {{r.payment_status}}
                  </div>
                {%endif%}
                <div id="content" style="width: 35%;">
                  {{r.reservation_id}}
                </div>
                <div id="content" style="width: 20%;">
                  {{r.created}}
                </div>
                <div id="content" style="width: 20%; margin-left: 5%;">
                  <a href="{% url 'pay-reservation' r.reservation_id%}"><div class="btn">Pay Now</div></a>
                  <a href="{% url 'cancel-reservation' r.reservation_id%}"><div class="btn">Cancel</div></a>
                </div>
              </div>
            </div>

          {%else%}
          <div id="table-cntnt">
            <div id="content-row"  class="clearfix" style="color: whitesmoke;">
              {% if r.payment_status == "PENDING" %}
                <div id="content" style="width: 15%; color:#deaf39;">
                  {{r.payment_status}}
                </div>
                </div>
              {%else%}
                <div id="content" style="width: 15%; color: green;">
                  {{r.payment_status}}
                </div>
              {%endif%}
              <div id="content" style="width: 35%;">
                {{r.reservation_id}}
              </div>
              <div id="content" style="width: 20%;">
                {{r.created}}
              </div>
              <div id="content" style="width: 20%; margin-left: 5%;">
                <a href="javascript:void(0)"><div class="btn">Pay Now</div></a>
                <a href="javascript:void(0)"><div class="btn">Cancel</div></a>
              </div>
            </div>
          </div>
          {%endif%}
        {%endfor%}
      </div>
    </div>
</div>



{%endblock%}