{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #main-driver-list-wrapper{
        background-image: url("{%static 'images/road.png'%}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reservation_driver_list.css' %}">
<div id="main-driver-list-wrapper">
    <div id="show-driver-list-header">
        <h2 id="show-driver-header-txt">Available Drivers</h2>
    </div>

    <div id="show-driver-list-content" class="clearfix">
        {% for driver in drivers %}
        <div class="show-driver-list-card">
            <i class="fa-sharp fa-solid fa-user"> {{driver.driverprofile.franchise}} </i>
            <h2>{{driver.last_name}},{{driver.first_name}}</h2>
            <p>Vehicle: {{driver.driverprofile.vehicle.model}}</p>
            <p>Contact No.: {{driver.contact_no}}</p>
            {% if driver.driverprofile.vehicle.capacity == driver.driverprofile.vehicle.included %}
            <p style="color: red;"> Service full {{driver.driverprofile.vehicle.included}} out of {{driver.driverprofile.vehicle.capacity}} </p>
            {%else%}
            <a href="#" class="show-driver-btn" onclick="location.href='{% url 'driver-info-reservation' driver.id %}'">Select Operator</a>
            {%endif%}
        </div>
        {%endfor%}
    </div>


</div>



{%endblock%}