{%load static%}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/footer.css' %}">


<div id="footer-main-wrapper" style="background-color: #deaf39;">
    <div id="footer-row">
        <img id="footer-imc-logo" src="{% static 'images/logo.png' %}" />
    </div>
    <div id="footer-row" class="clearfix">
        <div id="col">
            <div id="subheader">Contact Us</div>
            <div id="fcontent">
                <div id="label">Address:</div>
                <div id="fcontent">51 Diego Silang St. Phase 2 AFPOVAI Fort Bonifacio Taguig, 1630 Metro Manila, Philippines</div>
                <div id="label">Telephone:</div>
                <div id="fcontent"> +63 2 8556 2075  +63 2 8553 0721</div>
                <div id="label">Email:</div>
                <div id="fcontent"> reservicesystem@gmail.com</div>
                <div id="label">Social Media:</div>
                <a href="https://www.facebook.com/Integrated-Montessori-Center-103944088563861"><div id="fcontent"> Facebook</div></a>

            </div>
        </div>
        <div id="col">
            <div id="subheader">About</div>
            <a><div id="fcontent"> About Us</div></a>
            <a href="{% url 'privacy'%}"><div id="fcontent"> Privacy Policies</div></a>
            <a href="{% url 'terms'%}"><div id="fcontent"> Terms and Conditions</div></a>
        </div>
        <div id="col">
            <div id="subheader">Quick Links</div>
            <a href="{% url 'identify'%}"><div id="fcontent"> About Us</div></a>
            <a href="{% url 'login'%}"><div id="fcontent"> Log in</div></a>
            <a href="{% url 'register' %}"><div id="fcontent"> Student Sign up</div></a>
            <a href="{%url 'franchise-register'%}"><div id="fcontent"> Be a member</div></a>
        </div>
    </div>

</div>




