{%load static%}
<link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
<div id="main-wrapper">
    <div id="row" class="clearfix">
        <div id="col">
            <div id="imc-logo-wrapper"> 
                 <img id="imc-logo" src="{% static 'images/logo.png' %}" />
            </div>
            <div id="content">
                <h2>Contact Us</h2>
                <label>Address:</label><p>51 Diego Silang St. Phase 2 AFPOVAI Fort Bonifacio Taguig, 1630 Metro Manila, Philippines</p>

                <label>Telephone:</label><p>+63 2 8556 2075  +63 2 8553 0721</p>
                <label>Mobile:</label><p>+639984365570</p>

                <label>Social Media:</label> <a href="https://www.facebook.com/integratedmontessoricenter"><p>Facebook</p></a>
            </div>
            
        </div>
        <div id="col">
            <h2>About</h2>
            <a><p>About us</p></a>
            <a><p>Privacy Policies</p></a>
            <a><p>Terms & Conditions</p></a>
            <a><p>Contact Us</p></a>
        </div>
        <div id="col">
            <h2>Sign up</h2>
            <a><p>Home</p></a>
            <a><p>My Reservations</p></a>

        </div>
    </div>

    <div id="row">

    </div>


</div>
