{%extends 'main.html'%}
{%block title%}ReService:Decline Membership{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin_reservations_indiv.css' %}">
<div id="main">
    <div id="content-wrapper">
        <h2 id="header">Decline Membership Payment</h2>
    <form method="POST" action="">
            {%csrf_token%}
        <p>Payment {{payment.ref_no}} will be declined:</p>
        <div id="acct-info" >
            <div id="row" class="clearfix">
                <div id="label">
                    Payer:
                </div>
                <div id="content">
                    {{payment.driver.driver_first_name}} {{payment.driver.driver_middle_name}} {{payment.driver.driver_last_name}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Franchise:
                </div>
                <div id="content">
                    {{payment.driver.franchise.franchise_name}}
                </div>
            </div>

            </div>
            <input type="submit" value="Confirm" class="btn" style="width:15%;">
            <button class="btn" onclick="history.back()" style="width:15%;">Go back</button>
            
        </div>
    </form>
    </div>
    </div>
</div>
{%endblock%}