{%extends 'main.html'%}
{%block title%}ReService:Cancelation{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin_reservations_indiv.css' %}">
<div id="main">
    <div id="content-wrapper">
        <h2 id="header">Reservation Cancelation Information</h2>
        <form method="POST" action="">
            {%csrf_token%}
            <div id="acct-info" >
                <div id="row" class="clearfix">
                    <div id="label">
                        Cancelation ID:
                    </div>
                    <div id="content">
                        {{cancelation.cancelation_id}}
                    </div>
                </div>

                <div id="row" class="clearfix">
                    <div id="label">
                        Client:
                    </div>
                    <div id="content">
                        {{cancelation.reservation.user.last_name}}, {{cancelation.reservation.user.first_name}}, {{cancelation.reservation.user.middle_name}}
                    </div>
                </div>
                <div id="row" class="clearfix">
                    <div id="label">
                        Reservation ID:
                    </div>
                    <div id="content">
                        {{cancelation.reservation.reservation_id}}
                    </div>
                </div>

                <div id="row" class="clearfix">
                    <div id="label">
                        Cancelation Status:
                    </div>
                    <div id="content">
                        {{cancelation.status}}
                    </div>
                </div>

                <div id="row" class="clearfix">
                    <div id="label">
                        Created:
                    </div>
                    <div id="content">
                        {{cancelation.created}}
                    </div>
                </div>
                <div id="row" class="clearfix">
                    <div id="label">
                        Reason:
                    </div>
                    <div id="content">
                        {{cancelation.reason}}
                    </div>
                </div>
            
                <input type="submit" value="Approve" class="btn" style="background-color: #5cb85c; width: 10%;">
                <a href="{% url 'admin-cancelation-decline' cancelation.cancelation_id%}"><div class="btn"style="background-color: red;" >Decline</div></a>
                
            </div>
        </form>
    </div>
    </div>
</div>
{%endblock%}