{% extends 'main.html' %}
{%block title%}ReService:Vehicles{%endblock%}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin-reservations.css' %}">

<div id="main" class="clearfix">
    <h1 id="header">ReService:Vehicles</h1>
    <div id="navbar-left">
        <div id="search-br-wrapper">
            <form method="GET" action="{% url 'vehicles'%}">
                <input class="search" name="q" type="text" placeholder="Search..">
            </form>
        </div>
        <div id="filters-wrapper">
            <h3>Filter by</h3>
            <ul class="filters__list">
                <li class="list">
                    <a href="{% url 'vehicles'%}" class="list">All</a>
                </li>
                {% for f in franchise_list%}         
                <li class="list">
                    <a href="{% url 'vehicles' %}?q={{f}}" class="list">{{f}}</a>
                </li>
                
                {%endfor%}
        
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="clearfix" id="lbl-wrapper">

    
           <div id="id-col-lbl" style="width: 41%;">
            <h3 id="col-label" >ID</h3>
           </div> 
           <div id="name-col-lbl" style="width: 30%;">
            <h3 id="col-label">Model</h3>
           </div>
           <div id="oprtn-col-lbl" style="padding: 2%;">
                <a href="{% url 'admin-add-vehicle'%}"><div class="btn" style="width: 100%;"> Add Vehicle</div></a>
           </div>

        </div>
        {% for v in vehicles%}
            <a href="{% url 'vehicles-individual' v.vehicle.vehicle_id%}"><div id="user-card" class="clearfix">
                <div id="card-info" class="clearfix">
              
                    <div id="user-id">
                        {{v.vehicle.vehicle_id}}
                    </div>
                    <div id="user-name">
                        {{v.vehicle.driver.last_name}}
                    </div>
        
                    <div id="created">
                        {{v.vehicle.model}}
                    </div>
                         
                </div>
                <div id="operations">
                    <a class="btn" href="{% url 'vhcl-dlt' v.vehicle_id%}">Delete</a>
                    
                </div>
            </div></a>

        {% endfor%}
    </div>
</div>

{% endblock content %}