{%extends 'main.html'%}

{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin_student_indiv.css' %}">
<div id="main">
    <div id="account" class="clearfix">
        <h2 id="header">User Information</h2>
        <div id="img-wrapper">
            {% if user.profile.image %}
                <img id="profile-img" src="{{user.profile.image.url}}">
            {%else%}
                <img id="profile-img" src="{% static 'images/nopic.jpg'%}">
            {%endif%}
        </div>
        <div id="acct-info" >
            <div id="row" class="clearfix">
                <div id="label">
                    Last Name:
                </div>
                <div id="content">
                    {{user.last_name}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    First Name:
                </div>
                <div id="content">
                    {{user.first_name}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Middle Name:
                </div>
                <div id="content">
                    {{user.middle_name}}
                </div>
            </div>
         
            <div id="row" class="clearfix">
                <div id="label">
                    Email:
                </div>
                <div id="content">
                    {{user.email}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Contact No:
                </div>
                <div id="content">
                    {{user.contact_no}}
                </div>
            </div>
        </div>
        <div id="permissions">
            <h3>Other Information</h3>
            <div id="row" class="clearfix">
                <div id="label">
                    Birth Date:
                </div>
                <div id="content">
                    {{user.profile.birth_date}}
                </div>
            </div>
            <div id="row" class="clearfix">
                <div id="label">
                    Age:
                </div>
                <div id="content">
                    {{user.profile.age}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Parent or Guardian:
                </div>
                <div id="content">
                    {{user.profile.parent}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Parent Address:
                </div>
                <div id="content">
                    {{user.profile.parent_address}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Parent Contact No:
                </div>
                <div id="content">
                    {{user.profile.parent_contactNo}}
                </div>
            </div>
        </div>

    </div>

    <div id="account" class="clearfix">
        <h2 id="header">Profile Information</h2>
        <div id="profile-content1">
            <h3 id="header">Address </h3>
            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Lot:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.lot}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Stret:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.street}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Village:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.village}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   City:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.city}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Zip Code:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.zipcode}}
                </div>
            </div>
        </div>
        <div id="profile-content2">
            <h3 id="header">School </h3>
            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   School Branch:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.school_branch}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Year Level:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.year_level}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label" style="width: 20%;">
                   Section:
                </div>
                <div id="content" style="width: 80%;">
                    {{user.profile.section}}
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="account">
        <h2 id="header">Reservation</h2>
        <div id="row" class="clearfix">
            <div id="label" style="width: 20%;">
               Reservation ID:
            </div>
            <div id="content" style="width: 80%;">
                {{reservation.reservation_id}}
            </div>
        </div>

        <div id="row" class="clearfix">
            <div id="label" style="width: 20%;">
               Driver:
            </div>
            <div id="content" style="width: 80%;">
                {{user.reservation.driver}}
            </div>
        </div>

        <div id="row" class="clearfix">
            <div id="label" style="width: 20%;">
               Time:
            </div>
            <div id="content" style="width: 80%;">
                {{reservation.created}}
            </div>
        </div>
    </div>
    -->
    <div id="btns">
        <a href="{% url 'admin-stdnt-edit' user.id%}"><div id="btn">Edit</div></a>
    </div>
</div>
{%endblock%}