{% extends 'main.html' %}
{%block title%}ReService: Reservation Cancelations{%endblock%}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin-reservations.css' %}">

<div id="main" class="clearfix">
    <h1 id="header">ReService:Reservation Cancelations</h1>
    <div id="navbar-left">
        <div id="search-br-wrapper">
            <form method="GET" action="{% url 'reservation-cancelation'%}">
                <input class="search" name="q" type="text" placeholder="Search..">
            </form>
        </div>
        <div id="filters-wrapper">
            <h3>Filter by</h3>
            <ul class="filters__list">
                <li class="list">
                    <a href="{% url 'reservation-cancelation'%}" class="list">All</a>
                </li>
                <li class="list">
                    <a href="{% url 'reservation-cancelation' %}?q=APPROVED" class="list">Approved</a>
                </li>
                <li class="list">
                    <a href="{% url 'reservation-cancelation' %}?q=DECLINED" class="list">Declined</a>
                </li>
                <li class="list">
                    <a href="{% url 'reservation-cancelation' %}?q=PENDING" class="list">Pending</a>
                </li>
        
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="clearfix" id="lbl-wrapper">
           <div id="id-col-lbl">
            <h3 id="col-label">ID</h3>
           </div> 
           <div id="name-col-lbl">
            <h3 id="col-label">Name</h3>
           </div>
           <div id="sts-col-lbl">
            <h3 id="col-label">Status</h3>
            </div>
            <div id="crtd-col-lbl">
                <h3 id="col-label">Created</h3>
            </div>
           

        </div>
        {% for cancel in cancelations%}
            <a href="{% url 'admin-cancelations-info' cancel.cancelation_id%}"><div id="user-card" class="clearfix">
                <div id="card-info" class="clearfix">
           
                    <div id="user-id">
                        {{cancel.cancelation_id}}
                    </div>
                    <div id="user-name">
                        {{cancel.reservation.user}}
                    </div>
                    {% if cancel.status == "PENDING"%}
                        <div id="reserv-sts" style="color: #deaf39;">
                            {{cancel.status}}
                        </div>
                    {%elif cancel.status == "APPROVED" %}
                        <div id="reserv-sts" style="color: green;">
                            {{cancel.status}}
                        </div>
                    {%else%}
                        <div id="reserv-sts" style="color: red;">
                            {{cancel.status}}
                        </div>
                    {%endif%}
                    <div id="created">
                        {{cancel.created}}
                    </div>
                         
                </div>
                <div id="operations">
                  
                </div>
            
            </div></a>

        {% endfor%}
    </div>
</div>

{% endblock content %}