{%extends 'main.html'%}
{%block title%}ReService:Vehicle Profile{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin_student_indiv.css' %}">
<div id="main">
    <div id="account" class="clearfix">
        <h2 id="header">Vehicle Information</h2>
        <div id="img-wrapper" style="width:30%;">
                <img id="profile-img" src="{{vehicle.vehicle.image.url}}">
        </div>
    
        <div id="acct-info" style="width:70%; float: right; border-right:none;">
            <div id="row" class="clearfix">
                <div id="label">
                    Vehicle ID:
                </div>
                <div id="content">
                    {{vehicle.vehicle.vehicle_id}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Model:
                </div>
                <div id="content">
                    {{vehicle.vehicle.model}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Plate No.:
                </div>
                <div id="content">
                    {{vehicle.vehicle.plate_no}}
                </div>
            </div>
         
            <div id="row" class="clearfix">
                <div id="label">
                    Capacity:
                </div>
                <div id="content">
                    {{vehicle.vehicle.capacity}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Reserved:
                </div>
                <div id="content">
                    {{vehicle.vehicle.included}}
                </div>
            </div>
        </div>
        

    </div>

    
    <div id="btns">
        <a href="{% url 'vhcl-edit' vehicle.vehicle.vehicle_id%}"><div id="btn">Edit</div></a>
    </div>
</div>
{%endblock%}