{%extends 'main.html'%}

{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin_reservations_indiv.css' %}">
<div id="main">
    <div id="content-wrapper">
        <h2 id="header">Confirm Delete</h2>
    <form method="POST" action="">
            {%csrf_token%}
        <p>Are you sure you want to delete user {{user.id}}?</p>
        <div id="acct-info" >
            <div id="row" class="clearfix">
                <div id="label">
                    User ID:
                </div>
                <div id="content">
                    {{user.id}}
                </div>
            </div>

            <div id="row" class="clearfix">
                <div id="label">
                    Name:
                </div>
                <div id="content">
                    {{user.last_name}}, {{user.first_name}}, {{user.middle_name}}
                </div>
            </div>
            <input type="submit" value="Confirm" class="btn" style="width:15%;">
            <button class="btn" onclick="history.back()" style="width:15%;">Go back</button>
            
        </div>
    </form>
    </div>
    </div>
</div>
{%endblock%}