{% extends 'main.html' %}
{%block title%}ReService:Reports{%endblock%}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin-reports.css' %}">

<style>

#main{
    background-image: url("{%static 'images/ays.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 800px;
    background-attachment: fixed;
    width: 100%;
    padding: 2%;
  
}
</style>

    
<div id="main" > 
   <div id="row">
        <div id="header" class="clearfix">
              <div id="hdr">
                    Reservations
              </div>
              <div id="oprt-wrapper">
                <!--
                <form method="GET" action="{% url 'admin-reports'%}">
                    <input class="search" name="q" type="text" placeholder="Search..">
                </form>
                -->
                
              </div>
              <form method="POST" action="">
                {%csrf_token%}
                <div id="printer">
                    <select name="print" id="print">
                        <option value="resall">All</option>
                        <option value="resday">This Day</option>
                        <option value="resmonth">This Month</option>
                        <option value="resyear">This Year</option>        
                    </select>       
                  </div>
                  <input class="btn" type="submit" value="Print">
    
            </form>
        </div>
        <div id="content">
            <div id="sub-hdr" class="clearfix">
                <div id="lbl" style="width:18%;">
                    Reservation ID
                </div>
                <div id="lbl">
                    User
                </div>
                <div id="lbl">
                    Driver
                </div>
                <div id="lbl">
                    Reservation status
                </div>
                <div id="lbl">
                    Created
                </div>
                <div id="lbl">
                    Valid Until
                </div>
            </div>
            {% for r in reservations%}
                <div id="sub-row" class="clearfix">
                    <div id="cnt" style="width:18%;">
                        {{r.reservation_id}}
                    </div>
                    <div id="cnt">
                        {{r.user.first_name}} {{r.user.last_name}}
                    </div>
                    <div id="cnt">
                        {{r.driver.user.first_name}} {{r.user.last_name}}
                    </div>
                    <div id="cnt">
                        {{r.reservation_status}}
                    </div>
                    <div id="cnt">
                        {{r.created}}
                    </div>
                    <div id="cnt">
                        {{r.valid_until}}
                    </div>
                </div>
            {%endfor%}
        </div>
   </div>
   <div id="row">
    <div id="header" class="clearfix">
          <div id="hdr">
                Payments
          </div>
          <div id="oprt-wrapper">
          <!--
                <form method="GET" action="{% url 'admin-reports'%}">
                    <input class="search" name="q" type="text" placeholder="Search..">
                </form>
                -->
            
          </div>
          <form method="POST" action="">
            {%csrf_token%}
            <div id="printer">
                <select name="print" id="print" >
                    <option value="payall">All</option>
                    <option value="payday">This Day</option>
                    <option value="paymonth">This Month</option>
                    <option value="payyear">This Year</option>        
                </select>       
              </div>
              <input class="btn" type="submit" value="Print" >

        </form>
 

    </div>
    <div id="content">
        <div id="sub-hdr" class="clearfix">
            <div id="lbl" style="width:28%;">
                Reference No
            </div>
            <div id="lbl">
                From
            </div>
            <div id="lbl" style="width:28%;">
                Reservation No
            </div>
            <div id="lbl">
                Status
            </div>
            <div id="lbl">
                Created
            </div>
        </div>
        {% for p in payments%}
            <div id="sub-row" class="clearfix">
                <div id="cnt" style="width:28%;">
                    {{p.ref_no}}
                </div>
                <div id="cnt">
                    {{p.user.first_name}} {{p.user.last_name}}
                </div>
    
                <div id="cnt" style="width:28%;">
                    {{p.reservation.reservation_id}}
                </div>
                <div id="cnt">
                    {{p.status}}
                </div>
                <div id="cnt">
                    {{p.created}}
                </div>
            </div>
        {%endfor%}
        
    </div>
    
    </div>

    <div id="row">
        <div id="header" class="clearfix">
              <div id="hdr">
                    Users
              </div>
              <div id="oprt-wrapper">
                <!--
                <form method="GET" action="{% url 'admin-reports'%}">
                    <input class="search" name="q" type="text" placeholder="Search..">
                </form>
                -->
              </div>
              <form method="POST" action="">
                {%csrf_token%}
                <div id="printer">
                    <select name="print" id="print">
                        <option value="userall">All</option>
                               
                    </select>       
                  </div>
                  <input class="btn" type="submit" value="Print">
    
            </form>
        </div>
        <div id="content">
            <div id="sub-hdr" class="clearfix">
                <div id="lbl" style="width:28%;">
                    User ID
                </div>
                <div id="lbl">
                    Name
                </div>
            
                <div id="lbl">
                    Address
                </div>
                <div id="lbl">
                    email
                </div>
                <div id="lbl">
                    contact no
                </div>
            </div>
            {% for p in users%}
                <div id="sub-row" class="clearfix">
                    {% if p.id%}
                    <div id="cnt" style="width:28%;">
                        {{p.id}}
                    </div>
                    {%else%}
                    <div id="cnt" style="width:18%;">
                        ----
                    </div>
                    {%endif%}
                    {%if p.first_name or p.last_name%}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.first_name}} {{p.last_name}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}
                    {% if p.profile.lot or p.profile.street or p.profile.street or p.profile.city %}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.profile.lot}} {{p.profile.street}} {{p.profile.street}} {{p.profile.city}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.email}}
                    </div>
                    <div id="cnt" style="font-size: 13px;">
                        {{p.contact_no}}
                    </div>
                </div>
            {%endfor%}
        </div>
        
    </div>

    <div id="row">
        <div id="header" class="clearfix">
              <div id="hdr">
                    Summary
              </div>
              <div id="oprt-wrapper">
                
                
              </div>
              <form method="POST" action="">
                {%csrf_token%}
                <div id="printer">
                    <select name="print" id="print">
                        <option value="all">All</option>
                             
                    </select>       
                  </div>
                  <input class="btn" type="submit" value="Print">
    
            </form>
              
        </div>
        <div id="content">
            <div id="sub-hdr" class="clearfix">
                <div id="lbl" style="width:28%;">
                    User ID
                </div>
                <div id="lbl">
                    Name
                </div>

                <div id="lbl">
                    Address
                </div>
                <div id="lbl">
                    email
                </div>
                <div id="lbl">
                    contact no
                </div>
            </div>
            {% for p in users%}
                <div id="sub-row" class="clearfix">
                    {% if p.id%}
                    <div id="cnt" style="width:28%;">
                        {{p.id}}
                    </div>
                    {%else%}
                    <div id="cnt" style="width:28%;">
                        ----
                    </div>
                    {%endif%}
                    {%if p.first_name or p.last_name%}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.first_name}} {{p.last_name}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}

                    {% if p.profile.lot or p.profile.street or p.profile.street or p.profile.city %}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.profile.lot}} {{p.profile.street}} {{p.profile.street}} {{p.profile.city}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}
                    <div id="cnt" style="font-size: 13px;">
                        {{p.email}}
                    </div>
                    <div id="cnt" style="font-size: 13px;">
                        {{p.contact_no}}
                    </div>
                </div>
            {%endfor%}
            
        </div>
        
    </div>
    
    <div id="row">
        <div id="header" class="clearfix">
              <div id="hdr">
                    Drivers
              </div>
              <div id="oprt-wrapper">
                
                
              </div>
              <form method="POST" action="">
                {%csrf_token%}
                <div id="printer">
                    <select name="print" id="print">
                        <option value="all">All</option>
                        {%for d in drivers%}
                            <option value="{{d.id}}">{{d.first_name}} {{d.last_name}}:{{d.driverprofile.franchise.franchise_name}}</option>
                        {%endfor%}
                    </select>       
                  </div>
                  <input class="btn" type="submit" value="Print">
        
    
            </form>
              
        </div>
        <div id="content">
            <div id="sub-hdr" class="clearfix">
                <div id="lbl" style="width:28%;">
                    Driver ID
                </div>
                <div id="lbl">
                    Name
                </div>

                <div id="lbl">
                    Franchise
                </div>
                <div id="lbl">
                    Vehicle
                </div>
                <div id="lbl">
                    contact no
                </div>
            </div>
            {% for d in drivers%}
                <div id="sub-row" class="clearfix">
                    {% if d.id%}
                    <div id="cnt" style="width:28%;">
                        {{d.id}}
                    </div>
                    {%else%}
                    <div id="cnt" style="width:28%;">
                        ----
                    </div>
                    {%endif%}
                    {%if d.first_name or d.last_name%}
                    <div id="cnt" style="font-size: 13px;">
                        {{d.first_name}} {{d.last_name}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}
                    <div id="cnt" style="font-size: 13px;">
                        {{d.driverprofile.franchise.franchise_name}}
                    </div>
                    {% if d.driverprofile.vehicle.vehicle_id%}
                    <div id="cnt" style="font-size: 13px;">
                        {{d.driverprofile.vehicle.vehicle_id}}
                    </div>
                    {%else%}
                    <div id="cnt" style="font-size: 13px;">
                        ----
                    </div>
                    {%endif%}
                  
                    <div id="cnt" style="font-size: 13px;">
                        {{d.contact_no}}
                    </div>
                </div>
            {%endfor%}
            
        </div>
        
    </div>

</div>

{% endblock content %}


