{%extends 'main.html'%}
{%block title%}ReService:Franchise Information{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin-individual-franchise.css' %}">
<style>
    #main{
        background-image: url("{%static 'images/brrr.jpg'%}");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        min-height: 800px;
        background-attachment: fixed;
        width: 100%;
        padding: 2%;
    }
</style>
<div id="main">
    <div id="row">
        Franchise ID:<p style="color: white; display: inline;">{{franchise.franchise_id}}</p>
    </div>
    <form method="POST" action="">
        {%csrf_token%}
        <div id="row" style="background-color: transparent;"  class="clearfix">
    
            <div id="info-wrapper">
                <div id="header">
                    Franchise information
                </div>
                <div id="content" class="clearfix">
                    <div id="left">
                        <div id="sub-row">
                            <label>Franchise Name:</label><p>{{franchise.franchise_name}}</p>
                        </div>
                        <div id="sub-row">
                            <label>Operator Last Name:</label><p>{{franchise.operator_lastN}}</p>
                        </div>
                        <div id="sub-row">
                            <label>Operator First Name:</label><p>{{franchise.operator_firstN}}</p>
                        </div>
                        <div id="sub-row">
                            <label>Operator Middle Name:</label><p>{{franchise.operator_middleN}}</p>
                        </div>
                    </div>
                    <div id="right">
                        <div id="sub-row">
                            <label>Email:</label><p>{{franchise.email}}</p>
                        </div>
                        <div id="sub-row">
                            <label>Contact No:</label><p>{{franchise.contact_no}}</p>
                        </div>
                        <div id="sub-row">
                            <label>Created:</label><p>{{franchise.created}}</p>
                        </div>
                        
                    </div>
                    
                   
                   
                </div>
                
            </div>
        </div>
    
        <div id="row">
            Documents
        </div>
    
        <div id="row"  style="background-color: transparent; margin-bottom: 0; padding: 0; "  class="clearfix">
            <div id="docs" style="margin-left: 3%;">
                <div id="header" style="padding:4%;">
                    Provisionary Authority
                </div>
                <div id="content">
                    {% if franchise.franchise_doc %}
                        <img src="{{franchise.franchise_doc.url}}" alt="Car">
                    {%else%}
                        <img src="{% static 'images/noimage.png'%}">
                    {%endif%}
                </div>
                
            </div>
            <div id="docs">
                <div id="header" style="padding:4%;">
                   Valid ID
                </div>
                <div id="content">
                    {% if franchise.valid_id %}
                        <img src="{{franchise.valid_id.url}}" alt="Car">
                    {%else%}
                        <img src="{% static 'images/noimage.png'%}">
                    {%endif%}
                </div>
            </div>
        </div>
    
        <div id="row" style="margin-top:2%;" class="clearfix">
            <input type="submit" value="Approve" class="btn"> <a href=""><div class="btn" style="background-color: red;">Decline</div></a>
        </div>
    </form>
    
</div>


{%endblock%}