{%extends 'main.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/pay_prompt.css' %}">
<div id="main">
    <h3>Hello {{request.user.first_name}} {{request.user.last_name}}, you can now proceed with your payment, select your desired payment method.</h3>

    <div id="buttons-wrapper" class="clearfix">
        <a href="{%url 'otc_payments' reservation.reservation_id%}"><div id="card" style="margin-left: 25%;">
            <img id="img" src="{% static 'images/otc.png'%}" >
            <h4>Over the counter</h4>
        </div></a>
        <a><div id="card">
            <img id="img" src="{% static 'images/ol.png'%}" >
            <h4>Online </h4>
        </div></a>

    </div>
</div>
{%endblock%}

<!--{% if reservation.service.pick_up == "tenement"%}
    <a href="https://buy.stripe.com/test_fZe9E8dvu18qa8o7st">Pay here</a>
    {% elif reservation.service.pick_up == "BCDA"%}
    <a href="https://buy.stripe.com/test_aEU5nS8bag3k1BScMM">Pay here</a>
    {%endif%}-->>