{% extends 'main.html' %}
{%block title%}No Driver{%endblock%}

{% load static%}

{%block content%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/nodrvr.css' %}">
<div id="main">
    <meta http-equiv = "refresh" content = "2; url = {% url 'franchise-drivers'%}" />
    <div id="content">
       

        <div id="img">
            <img src="{% static 'images/ono.gif'%}">
        </div>
        <div id="hdr">  
            <h1>Oh No!</h1>
            <span>It seems like you don't have any drivers yet, register them before adding a service</span>
        </div>
    </div>
</div>



{%endblock%}