{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #main{
        background-image: url("{%static 'images/landing.png'%}");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: 100vh;
        background-attachment: fixed;
        width: 100%;
        padding: 2%;
    }
    </style>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/forgotpass.css' %}">
<div id="main">
        
<div id="form">
            <div id="row">
                <h2 id="forgot-pass-header">Reset Password</h2>
                <p id="forgot-pass-message">enter your new password below.</p>
            </div>
            <hr>
            
            <form method="POST" action="">
                {%csrf_token%}
                <div id="row">
                    <div id="subrow" class="clearfix">
                        <div id="left">
                            <label id="forgot-pass-subheader">New Password:</label>
                        </div>
                        <div i d="right">
                            {{form.new_password1}}<br>
                        </div>
                    </div>
                    <div id="subrow" class="clearfix">
                        <div id="left">
                            <label id="forgot-pass-subheader">Confirm Password:</label>
                        </div>
                        <div i d="right">
                            {{form.new_password2}}<br>
                        </div>
                    </div>
                    <div id="subrow">
                        <button class="btn" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
        
</div>

{%endblock%}


