
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Merriweather+Sans:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body style="padding: 0; margin: 0; ">
    <div id="main" style="padding: 0; margin: 0; width: 100vh; ">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            ReService Report
        <hr>
         </h1>
         <p>Reservations recorded as of {{today}}</p>

         <h2>All Users</h2>
         {%for u in users%}
         <h3>User ID#: {{u.id}}</h3>
         <table>
            <tr>
             
              <th>Name</th>
              <td>{{u.first_name}} {{u.last_name}}</td>
              
         

            </tr>
            <tr>
                
                <th>Account</th>
                {% if u.account%}
                <td>{{u.account.acct_no}}</td>
                {%else%}
                <td>-----</td>
                {%endif%}
                
               
            </tr>
            <tr>
              <th>Email</th>
              <td>{{u.email}}</td>
              
            </tr>
            <tr>
              <th>Contact No</th>
             
                <td>{{u.contact_no}}</td>
            </tr>
            <tr>
                <th>Adress</th>
                    {% if u.profile.lot or u.profile.street or u.profile.street or u.profile.city %}
                        <td>{{ u.profile.lot }} {{u.profile.street}} {{u.profile.street}} {{u.profile.city}}</td>
                    {%else%}
                        <td>-----</td>
                    {%endif%}
                  
            </tr>

            <tr>
                <th>Role</th>
               
                  <td>{{u.role}}</td>
              </tr>
            
          </table>
          {%endfor%}
          <div style="border: solid; padding: 10px;">
            <h2>Summary</h2>
            <label>No. of Users: {{user_count}}</label><br>
            <label>No. of Students: {{student_count}}</label><br>
            <label>No. of Drivers: {{driver_count}}</label><br>
            <label>No. of Franchise: {{franchise_count}}</label><br>
           
          </div>
          
         
    </div>
</body>
</html>