{%extends 'main.html'%}

{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/who.css' %}">
<style>
    #main{
        background-image: url("{%static 'images/bg.png'%}");
        background-repeat: no-repeat;
        width: 100%;
        padding: 10%;
        min-height: 570px;
    }
</style>
<div id="main" >
    <h1>Who do you want to register as?</h1>
    <div id="row" class="clearfix">
        <a href="{% url 'register'%}"><div class="card">
            <img src="{% static 'images/asstud.png'%}">
            <h1>As a Student</h1>
        </div></a>
        <a href="{% url 'franchise-register'%}"><div class="card" style="margin-left: 5%;">
            <img src="{% static 'images/franchise.png'%}">
            <h1>As a Franchise</h1>
        </div></a>
    </div>
</div>
{%endblock%}