{%extends 'main.html'%}

{%block content%}
{%load static%}
<style>
    #main{
        background-image: url("{%static 'images/bgg.png'%}");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        min-height: 800px;
        padding: 5%;
    }

</style>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/franchise_register.css' %}">
<div id="main">
    <div id="form">
        <h1>Franchise Registration</h1>
        <hr>
        <form method="POST" action=""  enctype="multipart/form-data">
            {%csrf_token%}
            <label>Email:</label><br>
            {{form.email}}
            <label>Franchise Name:</label><br>
            {{form.franchise_name}}
            <label id="form-label">Franchise No:</label><br>
            {{form.franchise_no}}<br>
            <label id="form-label">Operator Last Name:</label><br>
            {{form.operator_lastN}}<br>
            <label id="form-label">Operator First Name:</label><br>
            {{form.operator_firstN}}<br>
            <label id="form-label">Operator Middle Name:</label><br>
            {{form.operator_middleN}}<br>
            <label id="form-label">Operator Contact no:</label><br>
            {{form.contact_no}}<br>
            <hr>
            <h3>Documents</h3>
            <label id="form-label">Document:</label><br>
            {{form.franchise_doc}}<br>
            <label id="form-label">Valid ID:</label><br>
            {{form.valid_id}}<br>
            <input id="registration-page-btn"  type="submit" value="Submit"/>
        </form>
    </div>
</div>

</div>
{%endblock%}